@using BlazorInputFile
@using KomunYslugi.Data
@page "/customerProjectOpen"
@inject UserService userService
@inject ProjectService projectService
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime

<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
      @if (userService.user.Department == "Газификация")
      {
          <label>Developer:</label>
          <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var developerData in projectService.Project.DeveloperDataGas)
                {
                    <tr>
                        <td>@developerData.Content</td>
                        @if (developerData.File.Id != null)
                        {
                            if (@MongoExamples.FindFiles(developerData.File.Id).Attachment != null)
                            {
                                <td>@MongoExamples.FindFiles(developerData.File.Id).Name</td>
                                <td><button class="btn btn-danger" @onclick="@(e => Delete(@developerData.File.Id))">Delete</button></td>
                                <td><button class="btn btn-primary" @onclick="@(e => Download(@developerData.File.Id))">Download</button></td>
                                <td><button class="btn btn-primary" @onclick="@(e => Complete(@developerData.File.Id))">Complete</button></td>
                                if (@MongoExamples.FindFiles(developerData.File.Id).IsCheck)
                                {
                                    <td>☑</td>
                                }
                            }                         
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <label>Designer:</label>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var designerData in projectService.Project.DesignerDataGas)
                {
                    <tr>
                        <td>@designerData.content</td>
                        <td><input type="text" class="form-control form-control-lg" @bind-value="@designerData.value"/></td>
                        @if (@designerData.value != "")
                        {
                            <td><button class="btn btn-primary" @onclick="@(e => CompleteDesigner(@designerData))">Complete</button></td>
                        }
                        @if (designerData.isCheck)
                        {
                            <td>☑</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
      }
      else if (userService.user.Department == "Водосноснобжение")
      {
          <label>Developer:</label>
          <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var developerData in projectService.Project.DeveloperDataWater)
                {
                    <tr>
                        <td>@developerData.Content</td>
                        @if (developerData.File.Id != null)
                        {
                            if (@MongoExamples.FindFiles(developerData.File.Id).Attachment != null)
                            {
                                <td>@MongoExamples.FindFiles(developerData.File.Id).Name</td>
                                <td><button class="btn btn-danger" @onclick="@(e => Delete(@developerData.File.Id))">Delete</button></td>
                                <td><button class="btn btn-primary" @onclick="@(e => Download(@developerData.File.Id))">Download</button></td>
                                <td><button class="btn btn-primary" @onclick="@(e => Complete(@developerData.File.Id))">Complete</button></td>
                                if (@MongoExamples.FindFiles(developerData.File.Id).IsCheck)
                                {
                                    <td>☑</td>
                                }
                            }                         
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <label>Designer:</label>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var designerData in projectService.Project.DesignerDataWater)
                {
                    <tr>
                        <td>@designerData.content</td>
                        <td><input type="text" class="form-control form-control-lg" @bind-value="@designerData.value"/></td>
                        @if (@designerData.value != "")
                        {
                            <td><button class="btn btn-primary" @onclick="@(e => CompleteDesigner(@designerData))">Complete</button></td>
                        }
                        @if (designerData.isCheck)
                        {
                            <td>☑</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
      }
  </div>
</section>

@code {
    async void HandledFileSelected(IFileListEntry[] files, File fileData)
    {
        File file = new File();
        var attach = await FileSender(files.FirstOrDefault());
        var name = files.FirstOrDefault().Name;
        file.Attachment = attach;
        file.Name = name;
        MongoExamples.Save(file);
        fileData.Id = file.Id;
        MongoExamples.ProjectReplace(projectService.Project);
        NavigationManager.NavigateTo("/developerProject");
        NavigationManager.NavigateTo("/developerProjectOpen");
    }

    public async Task<byte[]> FileSender(IFileListEntry file)
    {
        using ( var ms = new System.IO.MemoryStream())
        {
            await file.Data.CopyToAsync(ms);
            return ms.ToArray();
        }
    }

    private void Delete(string id)
    {
        MongoExamples.Delete(id);
    }

    private void Download(string id)
    {
        var file = MongoExamples.GetFiles().FirstOrDefault(x => x.Id == id);
        jsRunTime.InvokeVoidAsync("saveAsFile", $"{file.Name}", Convert.ToBase64String(file.Attachment));
    }

    private void Complete(string id)
    {
        MongoExamples.Upload(id);
    }

    private void CompleteDesigner(DesignerData designerData)
    {
        if (!designerData.isCheck)
            designerData.isCheck = true;
        else 
            designerData.isCheck = false;
        MongoExamples.ProjectReplace(projectService.Project);
    }
}
