@using KomunYslugi.Data
@page "/profil"
@inject UserService userService
@inject NavigationManager NavigationManager

<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Profil</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            @if (userService.user.UserType == "Customer")
            {
                <div class="row align-items-center pt-4 pb-3">
                   <h6 class="mb-0">Full name: @userService.user.FullName</h6>
                </div>                
            }

            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
               <h6 class="mb-0">Email: @userService.user.Email</h6>
            </div>   

            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
               <h6 class="mb-0">Phone Number: @userService.user.PhoneNumber</h6>
            </div>  

            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
                <h6 class="mb-0">Login: @userService.user.Login</h6>
            </div>  

            <hr class="mx-n3">

            @if (userService.user.UserType == "Customer")
            {
                <div class="row align-items-center pt-4 pb-3">
                    <h6 class="mb-0">Department: @userService.user.Department</h6>
                </div>         
            }

            <hr class="mx-n3">

            <button type="submit" class="btn btn-primary btn-lg" @onclick="@LogOut">Log out</button>
            <button type="submit" class="btn btn-primary btn-lg" @onclick="@Edit">Edit</button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

@code {
    public void LogOut()
    {
        userService.authorizationCheck = false;
        NavigationManager.NavigateTo("/");
    }
    public void Edit()
    {
        NavigationManager.NavigateTo("/edit");
    }
}
